

.circle {
    width: 40px !important;         /* Width of the circle */
    height: 40px;         /* Height of the circle */
    border-radius: 50%;    /* Make the element a circle */
    margin-right: 10px;  
    cursor: pointer;
}

.titulo {    
    color: rgb(0, 0, 0); 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-weight: bold;
    text-align: right;
}

.centered-div {
    width: 50%; /* Set a fixed or percentage width */
    margin: 0 auto;
}

.red {
    background-color: red;
}
.blue {
    background-color: blue;
}

.black {
    background-color: black;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.debug {
    border: solid 1px purple;
}

#principal {
    margin-top: 70px;
}

#divCircles {
    margin-top: 40px;
    margin-bottom: 40px;
}


#divResultBt {
    margin-top: 40px;

}

.highlight {
    background-color: yellow;  /* Set a background color to highlight */
    color: black;              /* Change text color if needed */
    font-weight: bold;         /* Make text bold */
    border: 1px solid orange;  /* Optional: Add a border */
    padding: 5px;              /* Optional: Add padding for spacing */
    border-radius: 5px;        /* Optional: Round the corners */
}

.marked {
    color: white;              /* Optional: Change text color */
    font-weight: bold;         /* Optional: Make text bold */
}

.circle-button {
    width: 40px !important;             /* Set width */
    height: 40px;              /* Set height to make it a circle */
    border-radius: 50%;        /* Makes the button circular */
    color: rgb(255, 255, 255);              /* Text color */
    border: none;              /* Remove default border */
    cursor: pointer;           /* Cursor style on hover */
    font-size: 16px;           /* Font size */
    display: flex;             /* Center text horizontally and vertically */
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.custom-icon-size {
    font-size: 5px;  /* Increase the size */
}
.custom-title-font-size {
    font-size: 13px !important;
}

.custom-content {
    font-size: 20px !important;  /* Decrease font size of the text content */
}

#testeTexto {
    text-shadow: 2px 2px 4px rgba(2, 1, 1, 0.842);
}

